<form class="formCSV" action="/site/admin/cargaColaboracionesCSV" method="post" enctype="multipart/form-data">
    <h1>Importar Colaboraciones desde CSV</h1>
    <div class="container">
        <label for="csvFile" class="file-label">Selecciona un archivo CSV</label>
        <input type="file" id="csvFile" name="csvFile" accept=".csv" required>
    </div>
    <button type="submit" class="btn-import">Importar</button>
</form>
