<div class="container">
    <h1>Acceso Denegado</h1>
    <p class="text-center bg-danger text-white">No tienes permisos para acceder a este recurso.</p>
    <button class="btn-back botonPrimario" onclick="history.back()">Volver</button>
</div>