<div class="field-group">
    <div class="field-group">
        <label for="heladera" class="labelColor">Nombre de Heladera:</label>
        <input type="text" id="nombreSignificativo" name="nombreSignificativo" required>
    </div>
    <div class="button-container">
        <button style="accent-color: #bfd1ec" onclick="window.location.href='/site/heladerasRecomendadas'">Obtener Recomendacion</button>
    </div>
</div>
