<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/general.css">
    <link rel="stylesheet" href="{{cssPath}}">
    <link rel="stylesheet" href="/assets/navbars.css">
</head>
<body>
    {{> navBar}}

    {{{body}}}

    {{{footer}}}

<script src="/assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>