<div>
<option value="" disabled selected>Selecciona un tipo de suscripcion</option>
    {{#each tipoSuscripciones}}
    <option value="{{this.valor}}" {{#if (eq ../tipoSuscripcion this.valor)}}selected{{/if}}>{{this.nombre}}</option>
    {{/each}}
</div>